.text {
    position: absolute;
    width: 100px;
    height: 68px;
    left: 640px;
    top: -40px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 85px;

    color: #000000;
}

.nav {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100px;
    background-color: #DBAE57;
    background-color: light;
    opacity: 0.6;
}

.background {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 200px;
    height: 1200px;
    background-color: white;
    overflow: auto;
}

.h1 {
    position: absolute;
    width: 235px;
    height: 78px;
    left: 40px;
    top: 110px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 42px;

    color: #000000;
}

.h2 {
    position: absolute;
    width: 235px;
    height: 78px;
    left: 30px;
    top: 180px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 42px;

    color: #000000;
}

.h3 {
    position: absolute;
    width: 235px;
    height: 78px;
    left: 30px;
    top: 250px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 42px;

    color: #000000;
}

.square {
    position: absolute;
    width: 900px;
    height: 105px;
    left: 350px;
    top: 150px;

    background: #FFFFFF;
}

.propil {
    position: absolute;
    width: 260px;
    height: 190px;
    left: 1290px;
    top: 150px;

    background: #FFFFFF;
    border-radius: 50px;
}

.commu1 {
    position: absolute;
    width: 330px;
    height: 380px;
    left: 370px;
    top: 320px;

    background: #ffffff;
    border-radius: 20px;
}

.commu1top {
    position: absolute;
    width: 370px;
    height: 100px;
    left: 350px;
    top: 280px;

    background-color: #F0ECC7;
    border-radius: 20px;
}

.commu2 {
    position: absolute;
    width: 330px;
    height: 380px;
    left: 880px;
    top: 320px;

    background: #ffffff;
    border-radius: 20px;
}

.commu2top {
    position: absolute;
    width: 370px;
    height: 100px;
    left: 860px;
    top: 280px;

    background-color: #F0E2C7;
    border-radius: 20px;
}

.commu3 {
    position: absolute;
    width: 330px;
    height: 380px;
    left: 370px;
    top: 780px;

    background: #ffffff;
    border-radius: 20px;
}

.commu3top {
    position: absolute;
    width: 370px;
    height: 100px;
    left: 350px;
    top: 740px;

    background-color: #F0DDCC;
    border-radius: 20px;
}

.commu4 {
    position: absolute;
    width: 330px;
    height: 380px;
    left: 880px;
    top: 780px;

    background: #ffffff;
    border-radius: 20px;
}

.commu4top {
    position: absolute;
    width: 370px;
    height: 100px;
    left: 860px;
    top: 740px;

    background-color: #ECEDC2;
    border-radius: 20px;
}

.ga1 {
    position: absolute;
    width: 172px;
    height: 62px;
    left: 485px;
    top: 265px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 42px;

    color: #000000;
}

.ga2 {
    position: absolute;
    width: 172px;
    height: 62px;
    left: 995px;
    top: 265px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 42px;

    color: #000000;
}

.ga3 {
    position: absolute;
    width: 172px;
    height: 62px;
    left: 485px;
    top: 725px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 42px;

    color: #000000;
}

.ga4 {
    position: absolute;
    width: 172px;
    height: 62px;
    left: 995px;
    top: 725px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 42px;

    color: #000000;
}

.news {
    position: absolute;
    width: 250px;
    height: 280px;
    left: 1290px;
    top: 400px;

    background: #ffffff;
    border-radius: 20px;
}

.newstop {
    position: absolute;
    width: 270px;
    height: 80px;
    left: 1280px;
    top: 370px;

    background-color: #ECEDC2;
    border-radius: 20px;
}

.newsw {
    position: absolute;
    width: 172px;
    height: 62px;
    left: 1360px;
    top: 355px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 42px;

    color: #000000;
}

.pic1 {
    width: 80px;
    height: 80px;
    margin-left: 1320px;
    margin-top: 170px;
    position: absolute;

    background-color: #DBAE57;
    border-radius: 100px;
}

.pic2 {
    width: 50px;
    height: 50px;
    margin-left: 1335px;
    margin-top: 260px;
    position: absolute;

    background-color: #DBAE57;
    border-radius: 100px;
}

.pic {
    width: 100px;
    height: 100px;
    margin-left: 480px;
    margin-top: -10px;
    opacity: 200%;
}

.user {
    position: absolute;
    width: 172px;
    height: 62px;
    left: 1425px;
    top: 145px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 42px;

    color: #000000;
}

.whitesquare {
    position: absolute;
    width: 250px;
    height: 450px;
    left: 1290px;
    top: 705px;

    background: #ffffff;
    border-radius: 5px;
}